/*
 * This is needed to get the canvas to stretch on Firefox.
 */
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body.light {
  background: #fff;
}
body.dark {
  background: #000;
}

#workingArea {
  width: 100%;
  height: 100%;
}

#toolPane {
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  width: 200px;
  height: 100%;
  box-shadow: -5px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.grid {
  fill: none;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}
.grid.on {
  display: inline;
}
.grid.off {
  display: none;
}
.grid.light {
  stroke: #eee;
}
.grid.dark {
  stroke: #222;
}

#utilityBox {
  position: fixed;
  left: 10px;
  top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: -3px 3px 16px 0px rgba(0, 0, 0, 0.2);
}

.dot circle {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot circle.dragging {
  fill: red;
  stroke: brown;
}
